@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-section-100: #F3F4F6;
  --bg-section-200: #E5E7EB;

  --brand-100: #F8E1BB;
  --brand-200: #F1C478;
  --brand-300: #EBA735;
  --brand-400: #DD8C00;
  --brand-500: #93610E;
  --brand-600: #624109;
  --brand-700: #312004;
  --textcolor: #2E2F57;
  --text-label: #364153;
  --brand-footer: #2E2F57;
}

html.dark {
  --background: #171717;
  --foreground: #ffffff;
  --bg-section-100: #a3a4a7;
  --bg-section-200: #555961;
 

  --brand-100: #F8E1BB;
  --brand-200: #F1C478;
  --brand-300: #EBA735;
  --brand-400: #DD8C00;
  --brand-500: #93610E;
  --brand-600: #624109;
  --brand-700: #312004;
  --textcolor: #ffffff;
  --text-label: #f3f3f3;
  --brand-footer: #171717;
}

/* 
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}