services:
  db:
    image: postgres:16-alpine
    container_name: postgres
    restart: always

    ports:
      - "5432:5432"

    environment:
      POSTGRES_DB: platform_rdf
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
